.app{
  max-width:70vw;
  border:1px solid black;
  background-color:white;
  margin:2rem 14rem;
}
.header{
  border:2.5px solid rgb(34, 195, 34);
  margin:0.5rem;
  float:right;
}
.a{
  border:2.5px solid rgb(34, 195, 34);
  margin-top:19%;
}
.a1,.a2{
  font-weight: bold;
}
.a2{
  float:right;
}
.a+h3{
  padding-left:23rem;
}
.party{
  border:2.5px solid rgb(34, 195, 34);
  margin:1% 31%;
  padding:0.2rem 4.4rem;
  width:35%;
}

.content{
  margin-left:36%;
}
.table1,.table2{
  width:85%;
  margin:3rem;
}
.padding td{
  padding-bottom:10rem;
}
.container{
  margin:2rem;
}

@media(max-width:1200px){
  .app{
    max-width:80vw;
    margin:0rem;
    font-size:small;
  }
  .a{
    margin-top:24%;
  }
  .a2{
    float:none;  
  }
  .a+h3{
    padding-left:17rem;
  }
  .party{
    margin:1% 25%;
    width:35%;
    padding:0.6rem 3rem;
  }
  .table1{
    width:65%;
    margin:4rem;
  }
  .table2{
    width:65%;
    margin:2.5rem;
  }
}

@media(max-width:800px){
  .app{
    width:100vw;
     max-width:100vw;
     margin:0rem;
     font-size:small;
  }
  .a{
    margin-top:25%;
  }
  .a+h3{
    padding-left:11rem;
  }
  .party{
    margin:1% 25%;
    width:40%;
    padding:0.4rem;
  }
  .content{
    margin-left:29%;
  }
  .table1{
    width:60%;
    margin-left:4rem;
  }
  .table2{
    width:52%;
    margin-left:5%;
  }
}

@media(max-width:600px){
  .a{
    margin-top:30%;
  }
  .table2{
    margin:0%;
  }
}